body {
  background-color: #f7e4e4;
  overflow-y: visible !important;
  .container {
    width: 100%;
    position: relative;
    table {
      margin: 50px 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      border-collapse: collapse;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      tbody {
        tr {
          th {
            padding: 0 20px;
          }
          td {
            padding: 10px 15px;
          }
          th,
          td {
            border: 1px solid red;
          }
        }
      }
    }
  }
}
