body {
  background-color: #f7e4e4;
}
body .container {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20%;
}
body .container .card img {
  cursor: pointer;
}
body .container #clean {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fbddb880;
  border: 2px solid #ef8888;
  border-radius: 25px;
  text-align: center;
  padding: 6px 10px 4px 10px;
}
body .container #score {
  font-size: 24px;
  color: #eb3838;
  font-weight: 600;
}
body .container .reload {
  margin-top: 10px;
  border: 2px solid #ef8888;
  border-radius: 36px;
  padding: 10px 20px 8px 20px;
  font-size: 24px;
  color: #eb3838;
  font-weight: 600;
  cursor: pointer;
}